@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using DotNetCore.CAP.Internal
@using DotNetCore.CAP.Dashboard
@using DotNetCore.CAP.Dashboard.Pages
@using DotNetCore.CAP.Dashboard.Resources
@inherits RazorPage
@{
    Layout = new LayoutPage(Strings.SubscribersPage_Title);

    var cache = RequestServices.GetService(typeof(MethodMatcherCache)) as MethodMatcherCache;
    var subscribers = cache.GetCandidatesMethodsOfGroupNameGrouped();
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">订阅列表</h1>

        @if (subscribers.Count == 0)
        {
            <div class="alert alert-warning">
                @Strings.ServersPage_NoServers
            </div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="20%">分组</th>
                            <th>
                                <table class="table subscribe-table margin-bottom-zero"><tr><td width="40%">名称</td><td>方法</td></tr></table>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subscriber in subscribers)
                        {
                            <tr>
                                <td style="vertical-align:middle;font-weight:bold;">@subscriber.Key</td>
                                <td>
                                    <table class="table subscribe-table table-condensed margin-bottom-zero">
                                        @foreach (var column in subscriber.Value)
                                        {
                                            <tr>
                                                <td width="40%">@column.Attribute.Name</td>
                                                <td><span style="color:#00bcd4">@column.ImplTypeInfo.Name</span>： 
                                                 @Html.MethodEscaped(column.MethodInfo)
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>